---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Superman: La Nueva Aventura">
    <main class="text-white max-w-4xl mx-auto px-6 py-12">
        <h1 class="text-4xl font-bold mb-4">Superman: La Nueva Aventura</h1>
        <p class="mb-6">
            “En esta nueva aventura, Superman ya es un héroe establecido que
            debe afrontar una crisis internacional cuando interviene en un
            conflicto entre naciones. Mientras lucha por detener una amenaza
            diseñada por Lex Luthor y recuperar la confianza del mundo, también
            tiene que reconciliar su herencia kryptoniana con su vida humana
            como Clark Kent.”
        </p>

        <img
            src="https://image.tmdb.org/t/p/original/yRBc6WY3r1Fz5Cjd6DhSvzqunED.jpg"
            alt="Superman"
            class="rounded-lg shadow-lg mb-6"
        />

        <a
            href="/"
            class="inline-block mt-4 px-4 py-2 bg-yellow-400 text-black font-semibold rounded-md hover:bg-yellow-300 transition"
        >
            Volver al inicio
        </a>
    </main>
</Layout>
