---
---

<footer class="bg-gray-900 shadow-md">
  <div class="max-w-7xl mx-auto px-6 py-4 flex flex-col items-center">
    <div class="flex items-center space-x-2 mb-4">
      <img src="https://img.icons8.com/ios-filled/50/ffffff/clapperboard.png" alt="Logo" class="w-8 h-8" />
      <h4 class="text-xl font-bold">InfoPelis</h4>
    </div>
    <p class="text-sm text-gray-300 text-center">
      &copy; 2025 InfoPelis. Derechos reservados.
    </p>
  </div>
</footer>