---
---

<section
  class="relative w-full h-[90vh] bg-cover bg-center"
  style="background-image: url('https://image.tmdb.org/t/p/original/yRBc6WY3r1Fz5Cjd6DhSvzqunED.jpg');"
>
  <div class="absolute inset-0 bg-black/40"></div>

  <div
    class="relative z-10 max-w-4xl mx-auto px-6 flex flex-col items-center justify-center h-full text-center text-white"
  >
    <h1 class="text-4xl md:text-6xl font-bold mb-4">Superman: La Nueva Aventura</h1>
    <p class="text-lg md:text-2xl mb-6">
      Vive la acción y emoción en la última película de Superman. Aventuras, héroes y efectos espectaculares que no te
      puedes perder.
    </p>
    <a
      href="/superman"
      class="bg-yellow-400 text-black px-6 py-3 font-semibold hover:bg-yellow-300 transition"
    >
      Leer más
    </a>
  </div>
</section>
